* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.cv {
    padding: 80px;
    text-align: left;
    background: #1abc9c;
    color: white;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
}

    /* Style the navigation bar links */
    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }


        /* Right-aligned link */
        .navbar a.right {
            float: right;
        }

        /* Change color on hover */
        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Active/current link */
        .navbar a.active {
            background-color: #666;
            color: white;
        }

/* Column container */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

img {
    max-width: 550px;
    object-fit:contain;
}

.img-gallery{
    width: 80%;
    margin: 80px auto 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    grid-gap: 10px;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}

.middle {
    transition: .1s ease;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        max-width: 50%;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        flex: 100%;
        max-width: 100%;
    }
}

.column {
    float: left;
    width:100%;
}

@media screen and (max-width: 1500px) {
    .column {
        width: 100%;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.hover-text:before {
    position: relative;
    width: 100%;
    float: left;
    margin-left: 10px;
    color: lightslategrey;
    /*background-color: lightgoldenrodyellow;*/
}

.hover-text:hover:before {
    opacity:1;
    visibility: visible;
}

.container {
    position: relative;
    float: left;
    text-align: center;
    color: lightgrey;
    padding: 10px;
    word-wrap:break-word;
    word-break: break-all;
    /*visibility: hidden;*/
}

.htext {
    background-color: darkslategrey;
    opacity: 0.8;
    color: lightslategray;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
}

/*.container div {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: lightsteelblue;
    visibility: visible;
    opacity: 0.7;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}*/

.container:hover .image {
    cursor: pointer;
}

.container:hover .middle {
    opacity: 1;
}

.img-gallery img:hover .htext {
    visibility: visible
}


/*.container::after hover div {
    width: 100%;
    padding: 8px 15px;
    color: whitesmoke;
    visibility: visible;
    opacity: 0.7;
}*/

.responsive {
    padding: 0px;
    float: left;
    width: 33%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}